* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== SMOOTH SCROLL ===== */
html {
    scroll-behavior: smooth;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #000;
    position: sticky;
    top: 0;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: rgba(108, 235, 4);
}

/* ===== HEADER ===== */
.header {
    text-align: center;
    /* padding: 10px 50px; */
    /* margin:250px; */
    /* width: 900px; */
    /* height: 900px; */
    margin-top: 2%;
   }
.header image{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header h1 {
    font-size: 42px;
    text-align: center;
    padding-top:5px;
}

.header p {
    margin: 15px 0;
}

/* ===== BUTTON ===== */
.btn {
    padding: 10px 25px;
    background: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(108, 235, 4);
}

/* ===== PRODUCTS ===== */
.products {
    padding: 60px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 300px;
    height: 400px;
    border: 2px solid rgba(0, 0, 0);
    padding: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    border: none;
    transition: 0.3s;
}

.card button:hover {
    background: rgba(108, 235, 4);
}

/* ===== CONTACT FORM ===== */
.contact {
    padding: 70px;
    text-align: center;
}

.contact-form {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

/* ===== FOOTER ===== */
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}
